* {
    color: cadetblue;
}

@font-face {
    font-family: "Jacquard12";
    src: url(../fonts/Jacquard_12/Jacquard12-Regular.ttf);
}

@font-face {
    font-family: "DancingScript";
    src: url(./about.css);
}

h1 {
    font-family: "DancingScript";
}

h2 {
    font-family: "Jacquard12";
}